<footer class="footer">
  <div class="container">
    <div class="">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="" target="_blank">
            <svg class="header-links-icon chery-logo footer-chery-logo">
              <use
                class="chery-logo-icon footer-chery-logo-icon"
                href="./img/svg/sprite.svg#icon-chery-logo"
              ></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="" target="_blank">
            <svg class="header-links-icon koinot-logo footer-koinot-logo">
              <use
                class="koinot-logo-icon footer-koinot-logo-icon"
                href="./img/svg/sprite.svg#icon-koinot"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer-desc-list">
        <li class="desc-list-item">
          <p>
            Наша компания стоит на передовых рубежах автомобильной индустрии,
            стремясь не только предоставлять транспортные средства, но и
            создавать неповторимый опыт владения автомобилем.
          </p>
        </li>
        <li class="desc-list-item">
          <p>
            2024, Chery Automobile Corporate Limited. <br />Все права защищены.
          </p>
        </li>
      </ul>
      <ul class="footer-social-list">
        <li class="social-list-item">
          <a href="">
            <svg class="social-link-icon" width="18" heigh="18">
              <use
                class="social-link-svg"
                href="./img/svg/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a href="">
            <svg class="social-link-icon" width="18" heigh="18">
              <use href="../img/svg/facebook.svg"></use>
            </svg>
          </a>
        </li>
        <li class="social-list-item">
          <a href="">
            <svg class="social-link-icon" width="18" heigh="18">
              <use href="../img/svg/telegram.svg"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
