<header class="header">
  <div class="container">
    <div class="nav-wrapper">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a href="" target="_blank">
            <svg class="header-links-icon" width="138" height="16">
              <use href="../img/svg/sprite.svg#icon-chery-logo"></use>
            </svg>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="" target="_blank">
            <svg class="header-links-icon" width="55" height="27">
              <use href="../img/svg/sprite.svg#icon-koinot"></use>
            </svg>
          </a>
        </li>
      </ul>
      <a class="header-call-btn" href="tel:1118">
        <svg class="header-btn-icon" width="16" height="16">
          <use href="../img/svg/sprite.svg#icon-tel"></use>
        </svg>
        1118
      </a>
    </div>
    <p class="button-desc">телефон для справок</p>
  </div>
</header>
