<section class="invitation">
  <div class="container">
    <div class="section">
      <h1 class="main-title">Дорогие друзья!</h1>
      <ul class="invitation-list">
        <li class="invitation-list-item">
          <p>
            С радостью приглашаем вас на мероприятие, посвященное запуску бренда
            CHERY в Республике Таджикистан, которое состоится
            <span class="accent-text">16 августа в 19:00.</span>
          </p>
        </li>
        <li class="invitation-list-item">
          <p>
            Для нас большая честь разделить этот особенный день с вами. Мы будем
            рады видеть вас среди гостей и отпраздновать открытие нового
            автосалона CHERY!
          </p>
        </li>
        <li class="invitation-list-item">
          <p>С уважением,<br />Компания Chery Tajikistan</p>
        </li>
      </ul>
    </div>
  </div>
</section>
