<section class="invite-form">
  <div class="container">
    <div class="section">
      <h2>Пожалуйста, подтвердите свое присутствие</h2>
      <p>
        Для обеспечения комфортной организации мероприятия, просим подтвердить
        ваше присутствие, заполнив формуда ниже.
      </p>
      <form action="">
        <ul>
          <li>
            <input type="text" />
          </li>
          <li>
            <select name="" id="">
              <option value="">да, с удовольствием</option>
              <option value="">нет, к сожалению</option>
            </select>
          </li>
          <li>
            <select name="" id="">
              <option value="">Буду учавствовать</option>
              <option value="">Не буду учавствовать</option>
            </select>
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>
