<section class="invite-form">
  <div class="container">
    <div class="section">
      <h2 class="section-title">Пожалуйста, подтвердите свое присутствие</h2>
      <p class="section-desc">
        Для обеспечения комфортной организации мероприятия, просим подтвердить
        ваше присутствие, заполнив форму ниже.
      </p>
      <form action="">
        <ul class="form-list">
          <li>
            <input
              class="form-style input-form"
              type="text"
              placeholder="Имя и Фамилия участника"
            />
          </li>
          <li>
            <select class="form-style" name="" id="" placeholder="DfiR">
              <option value="">да, с удовольствием</option>
              <option value="">нет, к сожалению</option>
            </select>
          </li>
          <li>
            <select class="form-style" name="" id="">
              <option value="">Буду учавствовать</option>
              <option value="">Не буду учавствовать</option>
            </select>
          </li>
        </ul>
        <button class="submit-btn" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</section>
