<section class="place-ivent">
  <div class="container">
    <div class="section bg-thumb">
      <h2 class="section-title place-ivent-title">
        Место проведения мероприятия
      </h2>
      <p class="place-desc">
        Для вашего удобства мы оставили координаты локации на карте.
      </p>
      <ul class="adress-list">
        <li class="adress-list-item list-point-icon">
          <p class="adress-desc">
            ул. Хувайдуллоева 2/2, ориентир — Diar Dushanbe
          </p>
        </li>
        <li class="adress-list-item list-tel-icon">
          <p class="adress-desc">1118</p>
        </li>
      </ul>
      <svg class="location-point" width="19" height="19">
        <use
          class="location-point-icon"
          href="./img/svg/sprite.svg#icon-point"
        ></use>
      </svg>
    </div>
  </div>
</section>
