<section class="program">
  <div class="container">
    <div class="section">
      <h2 class="section-title program-title">Программа мероприятия</h2>
      <ul class="program-list">
        <li class="program-list-item">
          <span class="program-time">19:00</span>
          <p>Сбор гостей</p>
        </li>
        <li class="program-list-item">
          <span class="program-time">20:00</span>
          <p class="program-desc">Старт официальной части</p>
        </li>
        <li class="program-list-item">
          <span class="program-time">20:30</span>
          <p class="program-desc">
            Презентация последних флагманских моделей CHERY
          </p>
        </li>
        <li class="program-list-item">
          <span class="program-time">20:50</span>
          <p class="program-desc">Перфоманс Cheri Cheri Lady</p>
        </li>
        <li class="program-list-item">
          <span class="program-time">21:00</span>
          <p class="program-desc">Выступление M'One</p>
        </li>
        <li class="program-list-item">
          <span class="program-time">21:30</span>
          <p class="program-desc">Розыгрыш призов, сет от DJ, After Party</p>
        </li>
      </ul>
    </div>
  </div>
</section>
